In [1]:
import pandas as pd
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [2]:
def collect_data(url):
    try:
        source = requests.get(url)
        soup = BeautifulSoup(source.text,'html.parser')
        movies = soup.find('tbody',class_="lister-list").find_all('tr')
        lst = []
        for movie in movies:
            name = movie.find('td',class_="titleColumn").a.text
            year = movie.find('td',class_="titleColumn").span.text.strip('()')
            rank = movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]
            rating = movie.find('td',class_="imdbRating").strong.text
            lst.append([rank,name,year,rating])
        return lst
    except Exception as e:
        print(e)
    
data = collect_data('https://www.imdb.com/chart/top/')

In [3]:
df = pd.DataFrame(data, columns=['Rank','Name','Year','IMDB Rating'])
df.tail()

    Rank                  Name  Year IMDB Rating
245  246               Aladdin  1992         8.0
246  247              The Help  2011         8.0
247  248  Beauty and the Beast  1991         8.0
248  249    Dances with Wolves  1990         8.0
249  250              Jai Bhim  2021         8.0

In [8]:
df.to_csv('Top 250 IMDB Movies.csv')

In [10]:
df.to_excel('Top 250 IMDB Movies.xlsx')